$base-font: 'Roboto Condensed', sans-serif;
$bright-color:  #9ABEAA
$dark-color: black

body
	position: relative
	overflow-x: hidden
	margin: 0px
	padding: 0px
	font-size: 10px
	font-family: $base-font
	color: $bright-color

::selection
	background: $bright-color
	color: white

.jumbotron
	height: 400px
	.container
		.logo
			img
				width: 75px
				height: 75px
		.breadcrumb
			background: transparent
			li
				font:
					size: 2.5em
					weight: 300
			a
				color: $bright-color
				&:hover
					text-decoration: none
					color: $bright-color
