body {
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  color: #9ABEAA;
}

::selection {
  background: #9ABEAA;
  color: white;
}
